*{
    margin: 0;
    padding: 0;
}

svg{
    background-color: #cccccc;
}

#container{
    padding: 50px;
}

h2{
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
}

#control{
    display: block;
}

select{
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    border: none;
    background: transparent;
}

#categories{
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

li{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    padding: 0 0 5px 0;
}

#barChart{
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

#pieCharts{
    width: 33%;
    display: inline-block; 
    vertical-align: top;
}