*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 100%;
}


//TYPOGRAPHY//
//////////////
h1{
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
}

h2{
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  padding: 20px 0;
}

li{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    padding: 0 0 5px 0;
}

select{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    border: none;
    background: #c1c1c1;
}

//LAYOUT//
//////////
#outerContainer{
    margin: 20px;    
}

header{
    margin: 0 0 20px 0;
    position: relative;
    
    span{
        font-family: 'Roboto', sans-serif;
        font-size: 1.3em;        
    }
    img{
        position: absolute;
        right: 0;
        top: 0;
    }
}

#sidebar{
    display: inline-block;
    background-color: #cccccc;
    vertical-align: top;
    width: 20%;
    margin: 0 20px 0 0;
    padding: 0 20px 0 20px;

}

#main{
    display: inline-block;
    width: 75%;
}

#highlight{
    background-color: #cccccc;
    padding: 20px;
    margin: 0 0 20px 0;
    font-family: 'Roboto', sans-serif;

    p{
        display: inline-block;
        font-size: 2em;
    }

    span{
        display: inline-block;
         font-size: 2em;
    }    
    
    h2{
        padding: 0;
        font-size: 0.8em;
    }   
}

#graphsContainer{
    display: inline-block;    
    background-color: #dddddd;
    width: 100%;

    #pieCharts{
        padding: 0 20px;
    }

    #ZScores{
        padding: 0 20px;
    }

    section{
        width: 45%;
        display: inline-block;
        vertical-align: top;
    }

    .pieChart{
        width: 49%;
        display: inline-block;
        margin: 0 auto;
    }
}

svg{
    // background-color: #c1c1c1;
}

#control{
    display: block;
}

select{
    padding: 5px 10px;
}