*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}


//TYPOGRAPHY//
//////////////
h1{
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
}

h2{
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  padding: 20px 0;
}

li{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    padding: 0 0 5px 0;
    font-size: 26px;
}

select{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    border-top: 1px solid black;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    padding: 5px 10px;
}

//LAYOUT//
//////////
#outerContainer{
    margin: 20px;    
}

#overlay{
    background-color: #fff;
    opacity: 0.2;
    height: 100%;
    width: 99%;
    position: absolute;
    display:none;
    z-index: 10;
}

#enlarge{
    width: 40%;
    background-color: #f1f1f1;
    position: absolute;
    top: 20px;
    left: 30%;
    z-index: 11;
    display: none;
    height: 0px;  
    padding: 0 20px;
    text-align: center;
    border: 1px solid black;
}

#enlarge2{
    width: 40%;
    background-color: #f1f1f1;
    position: absolute;
    top: 20px;
    left: 30%;
    z-index: 11;
    display: none;
    height: 0px;  
    padding: 0 20px;
    text-align: center;
    border: 1px solid black;
}

#enlarge3{
    width: 80%;
    background-color: #f1f1f1;
    position: absolute;
    top: 20px;
    left: 10%;
    z-index: 11;
    display: none;
    height: 0px;  
    padding: 0 20px;
    text-align: center;
    border: 1px solid black;
}


header{
    margin: 0 0 80px 0;
    position: relative;
    
    span{
        font-family: 'Roboto', sans-serif;
        font-size: 1.3em;        
    }
    img{
        position: absolute;
        right: 0;
        top: 0;
    }
}



#sidebar{
    display: inline-block;
    // background-color: #cccccc;
    vertical-align: top;
    width: 20%;
    margin: 0 20px 0 0;
    padding: 0 20px 0 20px;
}

#main{
    display: inline-block;
    width: 75%;
}

#highlight{
    // background-color: #cccccc;
    padding: 20px;
    margin: 0 0 20px 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    #text{
        width: 100%;
        display: inline-block;
        vertical-align: top;
         font-family: 'Roboto Slab', serif;
         font-weight: 300;
    }    

    p{
        display: inline-block;
        font-size: 1.4em;
    }

    span{
        display: inline-block;

        h2{ 
            padding: 0;          
            font-family: 'Roboto Slab', serif;
            font-weight: 400;
        }
    }    
    
 

    #highlightGraphs{
        width:30%;
        display: inline-block;
    }

    #highlightRespondersPie{
        width:60%;
        margin: 0 auto;
    }
}

#graphsContainer{
    display: inline-block;    
    // background-color: #dddddd;
    width: 100%;
    font-size: 0;

    h2{
        text-align: center;
    }

    #pieCharts{
       margin: 0 20px 0 0;        
        display: inline-block;
        width: 49%;

         .pieChart{
            width: 50%;
            display: inline-block;
            margin: 0 auto;
            padding: 0 10px;
        }
    }

    .ZScores{        
         vertical-align: top;
         width: 49%;
         display: inline-block;
    }

}

svg{
    // background-color: #c1c1c1;
}

#control{
    display: block;
}